<hr />
<h4>::Selecione as opções:: </h4>
<br />
<!--Exemplo
  <input type="text" name="myName" id="myName" ng-model="vm.myName" />
  <button class="btn-default" ng-click="vm.myNameSelected = vm.myName;">Selecionar</button>
  <br /><br />
  <span id="nameSelected">{{vm.myNameSelected}}</span>
Fim Exemplo -->

<!--Descomentar-->
<div class="row">
  <div class="col-md-6">
    Jogador 1:
    <select class="form-control">
      <option>1</option>
      <option>2</option>
    </select>
    </div>
  <div class="col-md-6">
    Jogador 2:
    <select class="form-control">
      <option>1</option>
      <option>2</option>
    </select>
  </div>
</div>
<br />
<div class="row">
  <div class="col-md-12">
    <center>
      <button type="button" class="btn btn-success btn-lg">Jogar</button>
    </center>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <h4>Ganhador é o jogador: <span>XXXX</span></h4>
   </div>
</div>-->
